
<div class="container">
<body style="background-color: red; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
   <div class="container">
       <center>
    <h1 style="color: white; font-size: 750%;">404</h1>
    <p style="color: white; font-size: 200%;">Sorry, the page you are looking for cannot be found or does not exist.</p>
    <p style="color: white; font-size: 180%;">Please click <a href="/" style="color: white;">Here</a> to return to homepage.  </p>
</center>
</div>
</body>
</div>