{% extends "base.html" %}
{% block content %}
<title>Chef Profile</title>
<div class="container">
<center>
    {% for mess in get_flashed_messages() %}
    {% if mess %}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{mess}} 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    {% endif %}
{% endfor %}
<h1>Chef Profile <i class="far fa-user"></i></h1>
<hr>
<h3> <u> Welcome {{profile.name}} </u></h3>
<div class="profile-pg" >
    <p style="font-size: 120%;">Name: {{profile['name']}} </p>
    <p style="font-size: 120%;">Email: {{session.email}}</p>
    <p style="font-size: 120%;">Username: {{profile['username']}}</p>
    <P style="font-size: 120%;">You joined us on: {{profile['date_joined']}}</P> <br>
    <a class="btn btn-success" href="/edit_profile/{{profile.id}}">Update Profile</a>
    <a class="btn btn-danger" href="/delete_profile/{{profile.id}}">Delete Profile</a>

</div>
</center>



{% endblock %}